# Application configuration variables
APP_NAME=project_name
APP_HOST=0.0.0.0
APP_PORT=8000
SECRET_KEY='ur secret key'
APP_ENV='dev' # Could be dev, prod or test
DEBUG=True
ALLOWED_HOSTS='app.backend.dev'
CSRF_TRUSTED_ORIGINS='https://*.backend.dev'
CORS_ALLOWED_ORIGINS=http://app.backend.dev,http://localhost:3000

# Postgres configuration variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db


# Traefik configuration variables
LETSENCRYPT_EMAIL=your_email
APP_DOMAIN=app.backend.dev
