# Application configuration variables
APP_NAME=project_name
APP_PORT=8000
APP_ENV=dev

# Postgres configuration variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db

# Celery configuration variables
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
